body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.app {
  text-align: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gold;
  font-size: 40px;
}

.button {
  padding: 10px 20px;
  background-color: #eebc34;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

